<p>footer works!</p>
<footer class="footer bg-secondary border-2 border-t text-base-content p-10">
    <nav>
      <h6 class="footer-title">Support</h6>
      <a href="#" class="link link-hover">Delivery Information</a>
      <a href="#" class="link link-hover">Returns & Exchanges</a>
      <a href="#" class="link link-hover">Frequently Asked Questions</a>
      <a href="#" class="link link-hover">Compare Routes</a>
    </nav>
    <nav>
      <h6 class="footer-title">Company</h6>
      <a href="#" class="link link-hover">About Us</a>
      <a href="#" class="link link-hover">Contact</a>
      <a href="#" class="link link-hover">Careers</a>
      <a href="#" class="link link-hover">Press</a>
    </nav>
    <nav>
      <h6 class="footer-title">Legal</h6>
      <a href="#" class="link link-hover">Terms of Use</a>
      <a href="#" class="link link-hover">Privacy Policy</a>
      <a href="#" class="link link-hover">Cookie Policy</a>
    </nav>
  </footer>
  
  <footer class="footer bg-secondary border-2 border-t text-base-content px-10 py-4">
    <aside class="grid-flow-col items-center">
      <fa-icon class="ui-menu-icon pe-3" [icon]="['fas', 'route']" size="3x"></fa-icon>
      <p>
        OptiRoute Ltd.
        <br/>
        Revolutionizing Transport Planning
      </p>
    </aside>
    <nav class="md:place-self-center md:justify-self-end">
      <div class="grid grid-flow-col gap-4">
        <a href="#" aria-label="Instagram OptiRoute">
          <fa-icon class="ui-menu-icon" [icon]="['fab','instagram']" size="2x" style="color: #c61118;"></fa-icon>
        </a>
        <a href="#" aria-label="Twitter OptiRoute">
          <fa-icon class="ui-menu-icon" [icon]="['fab','x-twitter']" size="2x"></fa-icon>
        </a>
        <a href="#" aria-label="Facebook OptiRoute">
          <fa-icon class="ui-menu-icon" [icon]="['fab','facebook']" size="2x" style="color: #3b5998;"></fa-icon>
        </a>
        <a href="#" aria-label="LinkedIn OptiRoute">
          <fa-icon class="ui-menu-icon" [icon]="['fab','linkedin']" size="2x" style="color: #0077b5;"></fa-icon>
        </a>
      </div>
    </nav>
  </footer>
  